<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.layout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Layout">
        <activity
            android:name=".GridLayout"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.example.layout.GRID_LAYOUT" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="com.example.layout.MY_GRID"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TableLayout"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.layout.TABLE_LAYOUT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.layout.MY_TABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayout"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.layout.FRAME_LAYOUT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.layout.MY_FRAME" />
            </intent-filter>
        </activity> <!-- LinearLayout -->
        <activity
            android:name=".LinearLayout"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.layout.ACTION_LINEAR" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.layout.MY_LINEAR" />
            </intent-filter>
        </activity> <!-- RelativeLayout -->
        <activity
            android:name=".RelativeLayout"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.layout.ACTION_RELATIVE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.layout.MY_RELATIVE" />
            </intent-filter>
        </activity> <!-- main -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>